.service  h3 {
    color: firebrick;
    font-size: 25px;
    padding: 20px;
    font-weight: 500;
}
.service .underline {
    height: 2px;
    background-color: firebrick;
    width: 300px;
    margin: 0 auto 20px;
}
.service  p {
    color: #666;
    font-size: 20px;
    margin-bottom: 20px;
}

.service .service-overlay {
    margin: 60px 0;
    background: fixed url('../../Images/+2.jpg') center;
    min-height: 900px;
}

.service .service-overlay .service-post {
    background-color: aliceblue;
    padding: 30px 4px;
}

.service .service-overlay .service-post h4 {
    color: firebrick;
    font-size: 25px;
    padding: 20px;
    font-weight: 500;   
}

.service .service-overlay .service-post p {
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 23px 25px;
    line-height: 231%;
}

/***************************** start service page 2 ************************ */

.service-page-2 {
    margin: 40px 0 ;
}
.service-page-2 h4 {
    color: firebrick;
    font-size: 25px;
    padding: 20px;
    font-weight: 500;   
}

.service-page-2 p {
    color: #666;
    font-size: 20px;
    margin-bottom: 20px;   
}
.service-page-2 .underline {
    height: 2px;
    background-color: firebrick;
    width: 300px;
    margin: 0 auto 20px;   
}

.service-page-2 .background {
    margin: 60px 0;
    background: fixed url('../../Images/+2.jpg') center;
    min-height: 450px;
}

.service-page-2 .background .post {
    margin-top: 30px;
    perspective: 500px;
}
.service-page-2 .background .post .card-img-top {
    transition: all 2s ease;
    height: 200px;
    display: block
}
.service-page-2 .background .post .card-img-top:hover {
    /* animation: img-skey 1s ease-in-out ; */
    transform: translateZ( -28px )

}
@keyframes img-skey {
    from {
        transform: none;
    }
    to {
        transform: skewX( 25deg );
    }
}
.service-page-2 .background .post h5 {
    color: firebrick;
    font-size: 20px;
    padding: 20px;
    font-weight: 500;   
}
.service-page-2 .background .post p {
    color: #666;
    font-size: 20px;
    margin-bottom: 20px;
}